body{
    margin:0;
    padding:0;
    background:#080811;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgba(5,5,20,.92);
    backdrop-filter: blur(10px);

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:20px;
}

.logo{
    width:120px;
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
    font-size:20px;

    padding:10px 18px;
    border-radius:10px;

    transition:.3s;
}

nav a:hover{
    color:#00d4ff;

    background:rgba(0,212,255,.12);

    box-shadow:
    0 0 15px rgba(0,212,255,.4);
}

.banner{
    width:100%;
    border-radius:20px;
}

.planes{
    padding:60px 20px;
    text-align:center;
}

.planes h2{
    font-size:42px;
}

.contenedor-planes{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.plan{
    background: rgba(15,23,42,.8);

    border:2px solid rgba(0,212,255,.4);

    border-radius:20px;

    padding:30px;

    text-align:center;

    backdrop-filter:blur(12px);

    transition:.3s;

    box-shadow:
    0 0 20px rgba(0,212,255,.15);
}
.plan:hover{

    transform:translateY(-8px);

    box-shadow:
    0 0 15px rgba(0,212,255,.5),
    0 0 30px rgba(0,212,255,.3),
    0 0 50px rgba(0,212,255,.2);

    border-color:#00d4ff;
}

.destacado{
    transform:scale(1.05);
    border:2px solid #00d4ff;
}

.badge{

    display:inline-block;

    padding:8px 18px;

    margin-bottom:15px;

    background:#00d4ff;

    color:#000;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;
}

.plan h3{
    font-size:34px;
}

.destacado h3{
    color:#ffffff;
    text-shadow:
        0 0 5px #00d4ff,
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
}

.precio{
    font-size:40px;
    color:#00d4ff;
    font-weight:bold;
}

.descripcion{
    color:#ccc;
    margin-bottom:20px;
}

.plan button{
    margin-top:20px;
    background:linear-gradient(90deg,#00d4ff,#7c3aed);
    color:white;
    border:none;
    padding:14px 35px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;
}

.plan button:hover{
    transform:scale(1.05);
}
.beneficios{
    padding:80px 20px;
    text-align:center;
}

.beneficios h2{
    margin-bottom:40px;
}

.beneficios-grid{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.beneficio{
    background:#111827;
    padding:20px;
    border-radius:15px;
    min-width:220px;
    border:1px solid #6d28d9;
}
.hero-text{
    text-align:center;
    padding:30px;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:10px;
    color:white;
}

.hero-text p{
    font-size:22px;
    color:#00d4ff;
}
.hero-text{
    text-align:center;
    padding:30px;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:10px;
    color:white;
}

.hero-text p{
    font-size:22px;
    color:#00d4ff;
}
.funciona{
    text-align:center;
    padding:80px 20px;
}

.funciona h2{
    font-size:40px;
    margin-bottom:40px;
}

.pasos{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.paso{
    background:#111827;
    border:1px solid #6d28d9;
    border-radius:15px;
    padding:25px;
    min-width:220px;
    font-weight:bold;
}
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    z-index:9999;
}

.modal-content{
    background:#111827;
    width:90%;
    max-width:500px;
    margin:80px auto;
    padding:30px;
    border-radius:20px;
    border:1px solid #6d28d9;
}

.modal-content h2{
    text-align:center;
}

.modal-content input{
    width:100%;
    margin:10px 0;
    padding:12px;
    border-radius:10px;
    border:none;
    box-sizing:border-box;
}

.modal-content button{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#7c3aed;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.cerrar{
    float:right;
    font-size:28px;
    cursor:pointer;
}
.modal-content select{

    width:100%;
    padding:12px;
    margin:10px 0;

    border:none;
    border-radius:10px;

    box-sizing:border-box;
}

#precioSeleccionado{

    text-align:center;

    color:#00d4ff;

    font-size:20px;

    font-weight:bold;
}

.descargas{
    margin-top:20px;

    padding:80px 20px;

    text-align:center;
}

.apps{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;
}

.app-card{

    background:none;
display:flex;
    flex-direction:column;
    border:none;
    align-items:center;
    justify-content:center;
    box-shadow:transparent;
    border-radius:20px;

    padding:30px;

    width:300px;
}

.btn-app{

    display:inline-block;

    margin-top:20px;

    padding:12px 24px;

    background:#7c3aed;

    color:white;

    text-decoration:none;

    border-radius:12px;

    font-weight:bold;
    cursor:pointer;
transition:0.3s;
}

.btn-app:hover{

    transform:translateY(-2px);

    box-shadow:0 0 20px rgba(139,92,246,.6);

}
.renovar{

    text-align:center;

    padding:80px 20px;
}

.renovar h2{

    font-size:40px;

    margin-bottom:20px;
}

.renovar p{

    color:#ccc;

    margin-bottom:25px;
}
#infoUsuario{

    margin:15px 0;
}

.usuario-encontrado{

    background:#111827;

    border:1px solid #374151;

    border-radius:12px;

    padding:15px;

    text-align:left;
}

.usuario-encontrado h3{

    color:#22c55e;

    margin-bottom:10px;
}
.usuario-encontrado p{

    margin:10px 0;

    font-size:18px;
}

.usuario-encontrado{

    box-shadow:
    0 0 20px
    rgba(
        34,
        197,
        94,
        .15
    );
}
.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
border-radius:50%;
background:#25D366;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
text-decoration:none;
z-index:9999;
box-shadow:0 0 15px rgba(0,0,0,.4);
transition:.3s;
}

.whatsapp-float:hover{
transform:scale(1.1);
}
@media(max-width:768px){

.header{
flex-direction:column;
gap:15px;
}

.header nav{
display:none;
flex-direction:column;
justify-content:center;
gap:15px;
}

.hero-text h1{
font-size:28px;
text-align:center;
}

.hero-text p{
text-align:center;
}

.banner{
width:100%;
height:auto;
}

.contenedor-planes{
flex-direction:column;
align-items:center;
}

.plan{
width:90%;
max-width:350px;
}

.btn-app{
width:90%;
}

}
.descarga-app{
text-align:center;
padding:40px 20px;
}

.btn-app{
display:inline-block;
padding:15px 30px;
background:linear-gradient(135deg, #8b5cf6, #6d28d9);
color:white;
font-weight:bold;
border-radius:10px;
text-decoration:none;
margin-top:15px;
}
.menu-toggle{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:32px;
    cursor:pointer;
}

@media(max-width:768px){

    .menu-toggle{
        display:block;
        margin:auto;
    }

    nav{
        display:none;
        flex-direction:column;
        gap:15px;
        margin-top:15px;
    }

    #menu.activo{
    display:flex;
}
}
@media(max-width:768px){

    nav{
        display:none !important;
    }

    #menu.activo{
        display:flex !important;
    }

    .menu-toggle{
        display:block !important;
        font-size:40px;
        color:white;
    }

}
.trust-bar{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

    margin:40px auto;

    max-width:1200px;
}

.trust-bar div{
    background:rgba(255,255,255,.05);

    border:1px solid rgba(0,212,255,.2);

    padding:15px 20px;

    border-radius:12px;

    font-weight:600;

    color:white;

    backdrop-filter:blur(8px);
}
.destacado{

    transform:scale(1.05);

    border:2px solid #8b5cf6;

    box-shadow:
    0 0 20px rgba(0,212,255,.4),
    0 0 40px rgba(0,212,255,.2);

    animation:pulse 4s infinite;
}
@keyframes pulse{

    0%{
        box-shadow:
        0 0 15px rgba(0,212,255,.3);
    }

    50%{
        box-shadow:
        0 0 35px rgba(0,212,255,.8);
    }

    100%{
        box-shadow:
        0 0 15px rgba(0,212,255,.3);
    }

}
.app-logo{
    width: 320px;
    height:180px;
    object-fit:contain;
    border-radius:30px;
    display:block;
    margin:0 auto 20px auto;
    transition:0.3s;
}
.app-logo:hover{
    transform:scale(1.05);
}
.gamers{
    color:#fff;

    animation: neonPulse 4s infinite;
}

@keyframes neonPulse{

    0%{
        color:#ffffff;
        text-shadow:
        0 0 10px #00e5ff,
        0 0 20px #00e5ff,
        0 0 40px #00e5ff;
    }

    50%{
        text-shadow:#00e5ff;
        text-shadow:
        0 0 3px #8be9ff,
        0 0 6px #8be9ff,
        0 0 12px #8be9ff;
    }

    100%{
        text-shadow:
        0 0 5px #00e5ff,
        0 0 10px #00e5ff,
        0 0 20px #00e5ff;
    }

}